html,body,header,div,span,img,ul,li,form,input,p,a,footer{
    padding: 0;
    margin: 0;
}
body{
    max-width: 980px;
    margin: auto;
}
:root{
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
}
.evening-dress {
    text-align: center;
    color:#c238eb ;
    font-size: 60px;
    font-weight: normal;
}

.designer {
    color:#c238eb; 
    text-align: center;
    font-size: 48px;
    font-weight: normal;
}

.product-list img {
    width: 500px;
    max-width: 100%;
    max-height: 580px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.product-list p {
    text-align: center;
}



@media only screen and (max-width: 765px) {
    .evening-dress, .designer {
        font-size:30px;
    }
    .product-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}