@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');

html,
body,
header,
div,
span,
img,
ul,
li,
form,
input,
p,
a,
footer {
    padding: 0;
    margin: 0;
}

html {
    background: rgb(245, 241, 241);
}

body {
    max-width: 1350px;
    margin: auto;
}

:root {
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
}

a {
    text-decoration: none;
}

/* Стилі для заголовку */
#title {
    text-align: center;
    color: #3a3d3f;
    font-size: 45px;
    font-weight: normal;
}

/* Стилі для меню */
nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    color: #222;
}

.topmenu {
    display: flex;
    justify-content: space-around;
}

.topmenu>li {
    display: inline-block;
    position: relative;
}

.topmenu>li>a {
    position: relative;
    padding: 10px 15px;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 3px;
}

.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 250px;
    padding: 15px 0 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

.submenu a {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
}

.submenu a:hover {
    background: #e8e8e8;
}

/* Стилі для банера */
#banner {
    position: relative;
}

#main__banner {
    width: 100%;
    max-width: 100%;
}

#banner p {
    position: absolute;
    top: 120px;
    left: 130px;
    color: honeydew;
    font-size: 40px;
}

#banner p span {
    display: block;
}

#content {
    display: flex;
    margin-top: 10px;
}

/* Стилі для двох картинок */
#images {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    margin-left: 10px;
}

#images :last-child {
    margin-top: 15px;
}

#images img {
    max-width: 100%;
    max-height: 630px;
}

/* Стилі для Ми це команда справжніх професіоналів */
#info {
    margin-left: 30px;
    max-width: 700px;
    box-sizing: border-box;
}

#info p {
    font-size: 30px;
    color: rgba(185, 30, 30, 0.979);
}

#info ul {
    font-size: 24px;
    list-style: none;
}

#info ul li:before {
    content: '✓';
    margin-right: 20px;
    color: green;
}

/* Стилі для дизайнерів */
.fashion__designers {
    margin-top: 20px;
}

.bth {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bth-John,
#bth-Siella,
#bth-Morena,
#bth-Aturro {
    width: 200px;
    height: 50px;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    font-size: 24px;
    cursor: pointer;
}

#information__about_designer {
    font-size: 24px;
}

#wrap__map {
    margin-top: 20px;
}

#wrap__map #map {
    width: 100%;
    height: 60vh;
}

/* Cтилі для слайдера */
.wrap_slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.wrap_slider__information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}

.wrap__dress {
    max-width: 450px;
    font-size: 20px;
}

.title__slider {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(185, 30, 30, 0.979);
}

.slider {
    max-width: 494px;
}

.item__slider {
    position: relative;
}

.item__slider .model {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    background: black;
    opacity: 0.5;
    text-align: center;
    height: 100px;
}

.item__slider .model span {
    color: rgb(255, 255, 255);
}

.slider .ite__slider img {
    max-width: 100%;
}

.next.slick-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, 0%);
    width: 30px;
    cursor: pointer;
    background: rgb(230, 224, 224);
    border-radius: 50%;
}

.prev.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: translate(-50%, 0%);
    width: 30px;
    cursor: pointer;
    background: rgb(230, 224, 224);
    border-radius: 50%;
}

form {
    margin-top: 20px;
    box-sizing: border-box;
}

form p {
    font-size: 30px;
    color: rgba(185, 30, 30, 0.979);
}

form input {
    padding: 0;
    margin: 0;
    width: 95%;
    height: 50px;
    margin-top: 25px;
}

form #button {
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    cursor: pointer;
}

#contacts p span:first-child {
    font-size: 30px;
    color: #3a3d3f;
    display: block;
}

#contacts p span:last-child {
    font-size: 24px;
    color: #65696b;
}

footer {
    margin-top: 60px;
    margin-bottom: 20px;
    ;
}

#contacts {
    display: flex;
    justify-content: space-between;
}
#contacts p:last-child {
    margin-right: 15px;
}

.social__networks {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.item__social__network {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

@media only screen and (max-width: 995px) {
    body {
        max-width: 100%;
        margin: auto;
    }

    .wrap_slider__information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dress__information {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__information {
        text-align: center;
        margin-top: 10px;
    }

    form p {
        text-align: center;
    }

    #contacts {
        flex-direction: column;
        align-items: center;
    }

    #contacts p span:first-child {
        display: inline;
    }
}

@media only screen and (max-width: 765px) {
    #title {
        font-size: 30px;
    }

    .submenu {
        width: 150px;
    }

    #banner p {
        top: 50%;
        transform: translate(0%, -50%);
        left: 45px;
        font-size: 24px;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #images {
        max-width: 700px;

        align-items: center;
        margin-left: 0;
    }

    #images img {
        max-width: 80%;
        margin-top: 10px;
    }

    #info {
        margin-left: 0px;
    }

    #info ul {
        font-size: 20px;
        list-style: none;
    }

    #bth-John,
    #bth-Siella,
    #bth-Morena,
    #bth-Aturro {
        height: auto;
        font-size: 20px;
    }

    #information__about_designer {
        font-size: 20px;
    }

    #wrap__map {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #wrap__map #map {
        width: 90%;
        height: 350px;
        margin-right: 30px;
    }

    #contacts p span:first-child {
        font-size: 24px;
    }

    #contacts p span:last-child {
        font-size: 17px;
    }

    .item__social__network {
        width: 30px;
        height: 30px;
    }
}